@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 400;
  src:url('/fonts/productsans.ttf') format('truetype');
}
@font-face {
  font-family: "Product Sans";
  font-style: normal;
  font-weight: 800;
  src:url('/fonts/product-sans-bold.ttf') format('truetype');
}
:root {
  font-family: "Product Sans";
  line-height: 1.5;
  font-weight: 400;

  color: #1b0b0bde;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 0px;
}
.stickit{
  left: 0;
  transform: translateY(-100%);
  opacity: 1;
  animation: slideOut 0.3s ease-out;
  
}
.stickit-out{
  left: 0;
  transform: translateY(0);
  animation: slideIn 0.3s ease-out;
  
}
@keyframes slideOut{
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(-100%);
  }
}
@keyframes slideIn{
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
